.introProject {
  max-width: 800px;
  width: 100%;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

header img {
  width: 60%;
}

.stock-circle {
  margin: 0 auto;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
}

.spinner-container {
  position: absolute;
}